@import "tailwindcss";

:root {
  --dark-blue-color: #050a30; /* Deep navy */
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  font-family: "Inter", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
